<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
    <connectionStrings>
        <add name="eSAR.Properties.Settings.DCFIdb" connectionString="Data Source=(local)\SQL2008;Initial Catalog=DCFI;User ID=sa;Password=D4ns4l4n" providerName="System.Data.SqlClient"/>
    </connectionStrings> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
