<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DCFIEntities" connectionString="metadata=res://*/DCFIModel.csdl|res://*/DCFIModel.ssdl|res://*/DCFIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQL2008;initial catalog=DCFI;persist security info=True;user id=sa;password=arnlea;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="dcBinding" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000" maxArrayLength="20000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="eSARService.UserService">
        <endpoint address="" binding="wsHttpBinding" contract="eSARService.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/UserService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.SchoolYearService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.ISchoolYearService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/SchoolYearService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.TimeslotService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.ITimeslotService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/TimeslotService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.StudentService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.IStudentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/StudentService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.TeacherService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.ITeacherService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/TeacherService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.BuildingService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.IBuildingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/BuildingService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.RoomService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.IRoomService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/RoomService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.LearningAreaService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.ILearningAreaService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/LearningAreaService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.FeeService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.IFeeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/FeeService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.CurriculumService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.ICurriculumService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/CurriculumService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.TraitService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.ITraitService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/TraitService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.ScholarshipService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.IScholarshipService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/ScholarshipService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.GradeLevelService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.IGradeLevelService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/GradeLevelService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.SubjectService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.ISubjectService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/SubjectService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.GradeSectionService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.IGradeSectionService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/GradeSectionService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.SubjectAssignmentService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.ISubjectAssignmentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/SubjectAssignmentService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.RegistrationService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.IRegistrationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/RegistrationService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.GradingService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.IGradingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/GradingService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.PaymentService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.IPaymentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/PaymentService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="eSARService.LogService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="dcBinding" contract="eSARService.ILogService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eSARService/LogService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>